{
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "arrowParens": "always",
  "printWidth": 120,
  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "organizeImportsSkipDestructiveCodeActions": true,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "tw", "cn"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true
}
